* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

h1 {
	margin-top: 5%;
	color: black;
}

h2 {
	margin-top: 0.5%;
	color: #484848;
}

h3 {
	margin-top: 2%;
	width: 60%;
	display: inline-block;
}

a {
	color: blue;
	text-decoration: none;
}

.fa-twitter {
	color: #3498db;
}

.fa-github {
	color: #2c3e50;
}

.fa-linux {
	color: #f39c12;
}

.fa-envelope {
	color: #e74c3c;
}

.fa-quote-right {
	color: #2ecc71;
}

.fa:hover {
	opacity: 0.5;
}